@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #222d60;
  --foreground: #f4f3ee;
  --deep-dark: #2f3437;
  --error-red: #e5383b;
  --success-green: #55a630;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
